body {
     color: white;
     background: black;
     margin: 10px;
     font-family: "Cinzel", serif;
     margin-bottom: 100px;
     
}

header{

  border-bottom: solid 2px rgb(77, 12, 12);
  padding: 20px;
  font-size: 45px;
  color: rgb(77, 12, 12); 
}

.chamada{

background: rgb(44, 3, 3);
padding-bottom: 40px;
padding-top: 20px;
display: flex;
justify-content: ;
}

.chamada-texto{

     margin-right: 40px;
     margin-left: 40px;
    
}
 div{

     margin: 30px;
 }

h1{
font-size: 60px;
padding-left: 40px;

}
p{
font-size: 25px;
margin: 10px;
color: rgb(150, 72, 72);
}
img{
height: 200px;
}
.categoria-videos{
display: flex;
overflow-x: auto;
gap: 8px;
}
.categoria{
padding-left: 40px;
padding-right: 40px;
}
.categoria-videos img{
     opacity:0,5;
     height:200px;
}
h2{
     color: rgb(248, 207, 207);
     margin-top: 30px;
}
.categoria-videos img:hover {
     opacity: 1,0;
}